<div id="<%= dom_id fornecedore %>">
  <p>
    <strong>Nome:</strong>
    <%= fornecedore.nome %>
  </p>

  <p>
    <strong>Tipo produtos:</strong>
    <%= fornecedore.tipo_produtos %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= fornecedore.telefone %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= fornecedore.endereco %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= fornecedore.email %>
  </p>

</div>
