<div class="page-header">
  <%= link_to new_fornecedore_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Fornecedore
  <% end %>
  <h1>Listing fornecedores</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nome</th>
            <th>Tipo produtos</th>
            <th>Telefone</th>
            <th>Endereco</th>
            <th>Email</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @fornecedores) do |fornecedore| %>
            <td><%= fornecedore.nome %></td>
            <td><%= fornecedore.tipo_produtos %></td>
            <td><%= fornecedore.telefone %></td>
            <td><%= fornecedore.endereco %></td>
            <td><%= fornecedore.email %></td>
            <td><%= link_to 'Show', fornecedore %></td>
        <td><%= link_to 'Edit', edit_fornecedore_path(fornecedore) %></td>
        <td><%= link_to 'Destroy', fornecedore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
